body{
    background-color : #211F1F;
}

.container-fluid{
    color : white;    
}

.nav-link-active{
    color : white;
}

.nav-link{
    color : white;
}

h1{
    color : #3DAED2;
    font-family : Arial, sans-serif;
    font-weight : bold;
    -webkit-text-stroke : 1px black;
    margin-top : 50px;
    margin-bottom : 1px;
    text-shadow : rgb(92,27,27) 2px -2px;
    
}

.distance{
    margin-top: 35px;
    margin-bottom: 35px;
}

.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.featurette img{
    height: 250px;
    width: 500px;
    max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

#artiste_name{
    color : #BD47E7;
    font-family: Arial, sans-serif;
    font-weight: bold;
    flex: 1000px;
    flex: 80px;
    flex: content;
    background-image: url("./images/background_artistes_page.png");
}

/*. c'est une class un # un id*/
#images_artistes{
    max-width : 350px;
    height : auto;
    float : left;
    vertical-align : bottom;
}

#artistes_name{

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #3DAED2;
}

#description_artiste{
    text-align: justify;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    color : white;
    flex: 1000px;
    flex: 80px;
    overflow: scroll;
    flex: content;  
}

#ARTISTES{
    border: solid #211F1F;
    background: black;
    
    margin: auto;
    align-items: center;
   
}

#ARTISTES img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin:30px;
}

.height{
    height: 100vh;
}

.search {
   position: relative; 
}

.search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.btn{
    background-color: black;
    border: none;
}

#fiche_ARTISTES{
    border: solid #211F1F;
        background: black;
        display : flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin:30px; 
}

.fiche_artistes_name{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    display : flex;
    flex: 1000px;
    flex: 80px;
    flex: content;
    text-align: center;
    color: #3DAED2;
}

.fiche_artistes_town{
    font-style: normal;
    font-weight: bold;
    color : white;
    flex: 1000px;
    flex: 80px;
    flex: content;
}

.fiche_artistes_address{
    font-style: normal;
    font-weight: bold;
    color : grey;
    flex: 1000px;
    flex: 80px;
    flex: content;
}

.fiche_artistes_date{
    font-style: normal;
    font-weight: bold;
    color: #BD47E7;
    flex: 1000px;
    flex: content;
}

.fiche_artistes_capacity{
    font-style: normal;
    color : rgb(138, 31, 84);
    flex: 1000px;
    flex: 80px;
    flex: content;
}

.text-genre a:link{
	text-decoration : none;
}

.text-genre {
    display : flex;
	flex-direction : row;
	flex-wrap : wrap;
	justify-content : space-around;
    position : relative;
}

.pop h1 {
    background-image : url(./photos-genre/pop.jpg);
    background-position : center;
    background-size : cover;
    z-index: 1; 
    position: relative;
    text-align: center;
    font-family: Georgia;
    width: 420px;
    height : 380px; 
    margin : 30px;
    padding-top : 8em;
}

.rock h1 {
    background-image : url(./photos-genre/rock.jpg);
    background-position : center;
    background-size : cover;
    z-index: 1; 
    position: relative;
    text-align: center;
    font-family: Georgia;
    width: 420px;
    height : 380px; 
    margin : 30px;
    padding-top : 8em;
}

.rap h1 {
    background-image : url(./photos-genre/rap.jpg);
    background-position : center;
    background-size : cover;
    z-index: 1; 
    position: relative;
    text-align: center;
    font-family: Georgia;
    width: 420px;
    height : 380px; 
    margin : 30px;
    padding-top : 8em;
}

.electro h1 {
    background-image : url(./photos-genre/electro.jpg);
    background-position : center;
    background-size : cover;
    z-index: 1; 
    position: relative;
    text-align: center;
    font-family: Georgia;
    width: 420px;
    height : 380px; 
    margin : 30px;
    padding-top : 8em;
}

.indie h1 {
    background-image : url(./photos-genre/indie.jpg);
    background-position : center;
    background-size : cover;
    z-index: 1; 
    position: relative;
    text-align: center;
    font-family: Georgia;
    width: 420px;
    height : 380px; 
    margin : 30px;
    padding-top : 8em;
}

.punk h1 {
    background-image : url(./photos-genre/punk.jpg);
    background-position : center;
    background-size : cover;
    z-index: 1; 
    position: relative;
    text-align: center;
    font-family: Georgia;
    width: 420px;
    height : 380px; 
    margin : 30px;
    padding-top : 8em;
}

#genre_name{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #3DAED2;
}
