body{
    background-color : #211F1F;
}

.container-fluid{
    color : white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    
}

.nav-link-active{
    color : white;
}

.nav-link{
    color : white;
}

h1{
    color : #3DAED2;
}